@using Microsoft.Extensions.Configuration
@inject IConfiguration Config

@{
    string url_DealingHome = Config.GetValue<string>("AppSetting:Url_DealingHome");
}

@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>
@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome back @User.Identity.Name</h1>
    <h2>User Claims</h2>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
}

<p>
    <a href="@url_DealingHome">Go back</a>
</p>
